.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: wheat;

}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    border-radius: 12px;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #064381;
}


.error {
    color: #e60000;
    margin-bottom: 2%;
}
.options {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: wheat;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}


body{
    margin: 10%;
}