.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    position: relative;
    color: wheat;

}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    border-radius: 12px;
    padding: 8px;
    margin-bottom: 10px;
    color: white;
    background-color: #1b2e35;
    border: 1px solid #FFA2A2FF;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #064381;
}


.error {
    color: #e60000;
    margin-bottom: 5%;
}
.options {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: wheat;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}


body{
    margin: 10%;
}

.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 31, 36, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.spinner {
    width: 50px;
    height: 50px;
}

.google-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.google-button:hover {
    filter: brightness(90%);
}