.settings-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.settings-label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 20px;
}

.settings-input{
    padding: 10px;
    color: white;
    background-color: #1b2e35;
    border: 1px solid #FFA2A2FF;
    border-radius: 12px;
    font-size: 16px;
    width: 200px;
}


button[type="submit"]:hover {
    background-color: #0056b3;
}

.button-save {
    background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%);
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    width: fit-content;
    border-radius: 10px;
    display: inline-block;
    margin-left: 200px;
    margin-bottom: 30px;

}

.button-resend {
    background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%);
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    width: fit-content;
    border-radius: 10px;
    display: inline-block;
    margin-left: 20px;
}

.button-resend:disabled {
    background-image: linear-gradient(to right, #5b5757 0%, #5e5f64 51%, #c7ccd7 100%);
    color: silver;
    cursor: initial;
}
.button-resend:hover {
    filter: brightness(80%);
}

.button-save:hover {
    background-image: linear-gradient(to right, #1b8862 0%, #7dd3a1 51%, #187c5b 100%);
}
.button-save:disabled {
    background-image: linear-gradient(to right, #5b5757 0%, #5e5f64 51%, #c7ccd7 100%);
    text-align: center;
    text-transform: uppercase;
    box-shadow: none;
    transition: 0.5s;
    background-size: 200% auto;
    cursor: initial;
    color: silver;
    border-radius: 10px;
    display: block;
}

.button-save:disabled:hover {
    background-color: #777a85;
}

.page-title {
    top: 0;
    text-align: center;
    margin-left: 160px;
    margin-top: 10%;
}

.page-title h2 {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: 2px solid #FFA2A2FF;
}

.error {
    display: block;
    margin-left: 170px;
    color: red;
}

.error-success {
  padding: 0;
  margin-left: 50%;

}
.success-email {
    margin-left: 30%;
}

.switch {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.switch input {
    margin-left: 15px;
    opacity: 0;
    width: 0;
    height: 0;
}

.category-title {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #FFA2A2FF;
    text-align: center;
    margin-left:160px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.error-switch {
    display: block;
    color: red;
}
input:checked + .slider {
    background-color: #ffa2a2;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ffa2a2;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch input:disabled + .slider {
    filter: brightness(50%);
}

.switch input:disabled + .slider:before {
    filter: brightness(50%);
}
.switch-label {
    font-size: 20px;
}
@media screen and (max-width: 768px) {
    .settings-container {
        flex-direction: column;
    }

    .settings-container form {
        order: 1;
    }
}