.friend-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #d4b063;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
    width: max-content;
    height: fit-content;
    margin-right: 10px;
    transition: width 0.3s, height 0.3s;
}

.friend-container:hover {
    width: 210px;
    height: 210px;
    filter: brightness(90%);
    cursor: pointer;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    transition: width 0.3s, height 0.3s;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.friend-details p {
    margin: 0;
    transition: opacity 0.3s;
}

.friend-details {
    flex: 1;
}


.friend-container:hover .profile-pic {
    width: 110px;
    height: 110px; 
}

#friendship-token {
    background-color: #2bbdbb;
}


.action-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.action-buttons button {
    margin-top: 5px;
    background-color: #cc0303;
    padding: 5px;
}

.action-buttons button:hover {
    filter: brightness(80%);
}

.friend-menu {
    margin-top: 20px;
    margin-left: 150px;
}

.friend-list {
    display: flex;
    flex-wrap: wrap;
}

.friend-container:hover .friend-details p {
    opacity: 0.5;
}

.friends-top {
    z-index: 1001;
    margin-bottom: 10px;
}

.friends-top button {
    margin-left: 10px;
    background-color: green;
}

.friends-top button:hover {
    filter: brightness(80%);
}

.friends-top span {
    width: 15px;
    height: 15px;
    background-color: #ffca05;
    color: #000;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    border: 3px solid #ffca05;
    font-size: 14px;
    font-weight: bold;
}